.main_blog {
    max-width: calc(1000px - 80px);
    width: calc(96% - 80px);
    background-color: #CCC;
    padding: 40px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_blog header {
    flex-basis: 100%;
}

.main_blog article {
    flex-basis: calc(50% - 40px - 20px);
    padding: 20px;
    background-color: #333;
    color: #FFF;
    margin: 20px 0;
}

.main_blog article h3 {
    color: red !important;
}

.main_blog article p {
    font-size: 1.1em;
}

.title_medium_red {
    color: rgb(255, 0, 0);
    font-size: 1.2em;
    font-weight: bold;
}

@media(max-width: 640px) {
    .main_blog article {
        flex-basis: calc(100% - 40px);
    }
}